.center{
    display: flex;
    justify-content: center;
}

#faceimg{
    display: block;
    max-height:350px;
    max-width:auto;
    width: auto;
    height: auto;

}

.bounding-box{
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}