.Tilt:hover {
    background: linear-gradient(to right, #0052d455, #4364f755, #6fb1fc55);
}
.Tilt{
    border-radius: 15px;
}

img {
    height: auto;
    width: auto;
    max-height: 55px;
    max-width: auto;
    padding: 2.5px;
}